{% extends 'base.html' %}

<title>{% block title %}Login{% endblock title %}</title>

{% block content %}


<form action="" method="post">
    <h3  class="center">Login</h3>
    <div class="form-group form-text">
        <label for="email" class="form-label">Email Address:</label>
        <input type="text" id="email" name="email" required class="form-control" autocomplete="off" placeholder="Enter email">

        <label for="password" class="form-label">Password:</label>
        <input type="password" id="password" name="password" required class="form-control" autocomplete="off" placeholder="Enter password">
        <br>
        <button type="submit" class="btn btn-primary mb-3 btn-dark">Confirm</button>
    </div>
</form>


{% endblock %}