{% extends 'base.html' %}

<title>{% block title %}Sign Up{% endblock title %}</title>



{% block content %}
<br><br>
<form action="" method="post" class="">
    
     
    <div class="form-group form-text w-50 mx-auto">
        <h3  class="center">Sign Up</h3>   
        <label for="username" class="form-label">User name</label>
        <input type="text" id="username" name="username" required class="form-control" autocomplete="off" placeholder="User name">
        <br>
        <label for="email" class="form-label">Email Address</label>
        <input type="text" id="email" name="email" required class="form-control" autocomplete="off" placeholder="Email">
        <br>
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" name="password" required class="form-control" autocomplete="off" placeholder="Password">
        <br>
        <label for="password" class="form-label">Re enter password</label>
        <input type="password" id="repassword" name="repassword" required class="form-control" autocomplete="off" placeholder="Password">

        <br>
        <button type="submit" class="btn btn-primary mb-3 btn-dark">Confirm</button>
    </div>
</form>


{% endblock %}