{% extends 'base.html' %}

{% block title %}{{ username }} posts{% endblock title %}




{% block content %}
<br>
<div class="text-center w-50 mx-auto">
    <h1>{{ username }} posts</h1>
</div>
{% for post in user_posts[::-1] %}

    <br>
    <div class="post card mb-3 w-75 mx-auto">
        <div class="card-title card-header bg-dark text-white">
            <h1>{{ post.title[:50] }}</h1>
        </div>
        <div class="card-body">
            <p>{{ post.text[:200] }}<p>
        </div>
        <div class="card-footer">
            <h5>{{ post.date_created }}</h5>
            {% if post.author == user.id %}
            <p><a href="/delete/{{ post.id }}" class="link-danger">Delete</a></p>
            {% endif %}
            <p><a href="/post/{{ post.id }}" class="link-info">View</a></p>
        </div>

    </div>
    <br>


{% endfor %}



{% endblock %}
